.container-fluid {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.margin-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sort-link {
  font-size: larger;

  i {
    opacity: 0;
  }
}

#name-i {
  opacity: 1;
}

hr {
  margin-top: 0;
  border-top: 2px solid #33baf8;
}

#jstree_auth ul {
  max-width: 100% !important;
}

#jstree_auth ul li{
  position:relative;
  display:block;
  padding: 0.75rem 1.25rem;
  margin-bottom:-1px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.125);
  border-left: none;
  border-right: none;
}

#jstree_auth ul li:first-child{
  border-top: none;
}

#jstree_auth ul li:last-child{
  border-bottom: none;
}
.jstree-wholerow{
  height: 40px !important;
}
.jstree-icon{
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 40px;
}

.jstree-themeicon-custom{
  background-size: contain !important;
}

.jstree-anchor {
  width: 95%;

  .record {
    margin: 0.5em;
    font-size: larger;


    &.name {

      margin-right: 100px;
    }

    &.position {

      margin-right: 80px;
    }

    &.date_of_employment {

      margin-right: 80px;
    }

    &.salary {

    }
  }
  .badge {
    position: absolute;
    right: 1px;
    top: 10px;
  }
}