.margin-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sort-link {
  font-size: larger;

  i {
    opacity: 0;
  }
}

#name-i {
  opacity: 1;
}

hr {
  margin-top: 0;
}

.jstree-wholerow {

}

.jstree-anchor {
  width: 95%;

  .record {
    margin: 0.5em;
    font-size: larger;


    &.name {

      margin-right: 180px;
    }

    &.position {

      margin-right: 80px;
    }

    &.date_of_employment {

      margin-right: 80px;
    }

    &.salary {

    }
  }
  .badge {
    float: right;
  }
}